{% extends "base.html" %}

{% block title %}Login{% endblock title %}

{% block contenedor %}
	<section>
		<div class="container">
			<form class='form-horizontal' role='form' method="POST">
				{% csrf_token %}
				<div class="form-group">	
					<div class="page-header">
						<h1>Login</h1>
					</div>
				    <input type="text" name="username" placeholder="Usuario" autofocus>
				    <input type="password" name="password" placeholder="Password">
				    <input type="submit" value="Ingresar">
				</div>
			</form>
		</div>		
	</section>
{% endblock contenedor %}